<div class="row">
  <div class="col col-sm-12 col-md-6">
    <% unless @active_work_log.nil? %>
      <%= form_tag("/dashboard/save_work_log?work_log_id=#{@active_work_log.id}", name: 'work_logs') do %>
        <div class="row">
          <div class="col col-sm-12">
            <label for="category">job</label>
            <select class="form-control" id="job" name="job">
              <% WorkLog::JOBS.each do |job| %>
                <option value="<%=job.first%>" <%=@active_work_log.job == job.second ? 'selected' : ''%>><%=job.second.humanize%></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-12">
            <div class="form-group">
              <label for="started">started</label>
              <input type="text" class="form-control" id="started" name="started" value="<%= @active_work_log.started %>">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-12">
            <div class="form-group">
              <label for="ended">ended</label>
              <input type="text" class="form-control" id="ended" name="ended" value="<%= @active_work_log.ended %>">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-12">
            <div class="form-group">
              <label for="notes">notes</label>
              <textarea class="form-control" rows="20" id="notes" name="notes" placeholder="what you did"><%= @active_work_log.notes.html_safe %></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-sm-6">
            <input type="checkbox" class="form-check-input" id="billed" name="billed" <%= @active_work_log.billed ? 'checked' : '' %>>
            <label class="form-check-label" for="billed">billed</label><br/>
          </div>
          <div class="col col-sm-6 text-right">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      <% end %>
    <% else %>
      <a class="btn btn-success" href="/dashboard/start_work_log">start</a>
    <% end %>
  </div>
  <div class="col col-sm-12 col-md-6">
    <% if WorkLog.not_finished.count > 0 %>
      <h4>Open</h4>
      <% current_user.work_logs.not_finished.each do |log| %>
        <a href="/dashboard/?work_log_id=<%= log.id %>&active_tab=work_log"><%= log.job %>: <%= log.started.nil? ? 'none' : log.started.strftime('%m/%d %H:%M') %></a>
        <a href="/dashboard/finish_work_log?work_log_id=<%= log.id %>&active_tab=work_log" class="btn btn-sm btn-danger">close</a><br/>
      <% end %>
    <% end %>
    <% if current_user.work_logs.finished.most_recent(10).count > 0 %>
      <h4>Recent</h4>
      <% current_user.work_logs.finished.most_recent(10).each do |log| %>
        <a href="/dashboard/?work_log_id=<%= log.id %>&active_tab=work_log"><%= log.job %>: <%= log.started.nil? ? 'none' : log.started.strftime('%m/%d %H:%M') %></a><br/>
      <% end %>
    <% end %>
  </div>
</div>