<%
  @active_page = 'overview'
  @page_title = 'Nathan Taubitz: Husband, Father, Technologist'
%>

<div class="jumbotron">
  <div class="container">
    <h1>welcome</h1>
    <p>My name is Nate. This is my website. Who knows what it will become.</p>
  </div>
</div>

<div class="container content">
  <div class="row">
    <div class="col-md-4">
      <h2>daily short posts</h2>
      <p>There's a theme to my daily posts... gratitude.</p>
      <div class="short-posts">
        <% anonymous_user.short_posts.most_recent.each do |post| %>
          <div class="short-post">
            <%= post.text %><br/>
            <small><%= post.created_at.strftime('%a %b %d %Y') %></small>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <h2>code</h2>
      <p>
        i have been a full stack developer for years, a professional developer for over 20.
      </p>
      <p>
        i believe in limited on-site office time so that we aren't commuting every day. The commute
        eats us alive, destroys the planet and hinders creativity. Working from home allows a life balance and extra time
        to devote to passion.
      </p>
      <p>
        My passion is delivering amazing technology through collaborative software
        development.
        <p><a class="btn btn-default" href="/code" role="button">learn more &raquo;</a></p>
      </p>
    </div>
    <div class="col-md-4">
      <h2>blog</h2>

      <%= @most_recent_blog_post.short_markup.html_safe %>
      <small>Posted: <%= @most_recent_blog_post.created_at.strftime('%B %d %Y') %></small>
      <br/>
      <br/>
      <p><a class="btn btn-default" href="/blog?blog_post_id=<%= @most_recent_blog_post.id %>" role="button">read more &raquo;</a></p>
    </div>
  </div>
</div>