<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en" dir="ltr">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" dir="ltr">
<![endif]-->
<!--[if gt IE 8]>
  <!--> <html lang="en" dir="ltr"
              xmlns:content="https://purl.org/rss/1.0/modules/content/"
              xmlns:dc="https://purl.org/dc/terms/"
              xmlns:foaf="https://xmlns.com/foaf/0.1/"
              xmlns:og="https://ogp.me/ns#"
              xmlns:rdfs="https://www.w3.org/2000/01/rdf-schema#"
              xmlns:sioc="https://rdfs.org/sioc/ns#"
              xmlns:sioct="https://rdfs.org/sioc/types#"
              xmlns:skos="https://www.w3.org/2004/02/skos/core#"
              xmlns:xsd="https://www.w3.org/2001/XMLSchema#"
              xmlns:fb="https://ogp.me/ns/fb#"
              xmlns:article="https://ogp.me/ns/article#"
              xmlns:book="https://ogp.me/ns/book#"
              xmlns:profile="https://ogp.me/ns/profile#"
              xmlns:video="https://ogp.me/ns/video#"><!--
<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="ie=edge, chrome=1" http-equiv="x-ua-compatible" />

    <title>PlotWatt</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nathan Taubitz - Software Developer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <ul class="nav main">
      <li class="nav-item">
        <a class="nav-link <%= 'active' if @active_page == 'overview' %>" href="/">overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if @active_page == 'contact' %>" href="/contact">contact</a>
      </li>
    </ul>
    <%= yield %>

  <footer class="page-footer font-small indigo fixed-bottom">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="/contact">Nathan Taubitz</a>
    </div>
    <!-- Copyright -->
  </footer>
  </body>
</html>
